Debug ................ : 0
Image Count .......... : 30
PSF Sigma ............ : 1.6
Object Brightness .... : 1000.0
Object Initial x ..... : 856.0
Object Initial y ..... : 256.0
Velocity x ........... : 0.45
Velocity y ........... : -0.95
Background Level ..... : 1024.0
Background Sigma ..... : 32.0
Angles to Search ..... : 50
Velocities to Search . : 5
Minimum Velocity ..... : 0.8
Maximum Velocity ..... : 1.2
Write to file ........ : 1
Generated Images Path  : ../toyimages/generated/
Psi Images Path ...... : ../toyimages/psi/
