Debug ................ : 1
Image Count .......... : 15
Image Width .......... : 512
Image Height ......... : 512
PSF Sigma ............ : 1.7
Object Brightness .... : 2000.0
Object Initial x ..... : 150.0
Object Initial y ..... : 280.0
Velocity x ........... : 0.6
Velocity y ........... : -0.75
Background Level ..... : 1024.0
Background Sigma ..... : 32.0
Angles to Search ..... : 150
Velocities to Search . : 25
Minimum Velocity ..... : 0.80
Maximum Velocity ..... : 1.20
Write to file ........ : 1
Generated Images Path  : ../toyimages/generated/
Psi Images Path ...... : ../toyimages/psi/
