Debug ................ : 1
Image Count .......... : 50
Image Width .......... : 2048
Image Height ......... : 4096
PSF Sigma ............ : 1.7
Object Brightness .... : 1500.0
Object Initial x ..... : 756.0
Object Initial y ..... : 324.0
Velocity x ........... : -0.8043
Velocity y ........... : 0.5985
Background Level ..... : 1024.0
Background Sigma ..... : 32.0
Angles to Search ..... : 25
Velocities to Search . : 15
Minimum Velocity ..... : 0.85
Maximum Velocity ..... : 1.15
Write to file ........ : 1
Generated Images Path  : ../toyimages/generated/
Psi Images Path ...... : ../toyimages/psi/
